<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>CSRF FORM</title>
</head>
<body>
<form action="./commit" method="post">
    <p>
        名称：<input id="name" name="name" type="text" value="" />
    </p>
    <p>
        描述：<input id="describe" name="describe" type="text" value="" />
    </p>
    <p>
        <input type="submit" value="提交"/>
    </p>
    <input type="hidden" th:id="${_csrf.parameterName}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
</form>
</body>
</html>